---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---

<ul class="LinkList">
	<li>
		<a href="https://docs.google.com/spreadsheets/d/1WXTl5S1wSnuQNzMEGt0-ZYlshkPRCsPx41Kc5t4meJA/edit?usp=sharing">
			<span>🗓️</span>
			Desk Lodge Calendar
		</a>
	</li>
		<li>
		<a href="https://docs.google.com/spreadsheets/d/1j2f0IItfGDSIBMciR3zfqD5pxLY1X2XAHv59lAjl-NI/edit?usp=sharing">
			<span>📃</span>
			Website Content
		</a>
	</li>
			<li>
		<a href="https://docs.google.com/spreadsheets/d/1appnlncxTzfXuCyYkpHDA2ejBfRqFDQk1NR-hMZoxMY/edit?usp=sharing">
			<span>📱</span>
			Social Media Plan
		</a>
	</li>




</ul>
