---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<ul class="LinkList">
	<li>
		<a href="{{env.DESK_LODGE_CALENDAR}}">
			<span>🗓️</span>
			Desk Lodge Calendar
		</a>
	</li>
		<li>
		<a href="{{env.WEBSITE_CONTENT}}">
			<span>📃</span>
			Website Content
		</a>
	</li>
			<li>
		<a href="{{env.SOCIAL_PLAN}}">
			<span>📱</span>
			Social Media Plan
		</a>
	</li>




</ul>
